<h2 class="mt-3"><i class="fas fa-sign-in-alt"></i> Password Reset Link Sent</h2>
    Your password reset link has been sent to the email. !!! <br><br> Follow the instruction to have your password reset.
    <p>If you didn't get the email in 1 minute, please click the link below to request a new code.</p>
    @*<a href="http://localhost:51102/Account/forgotpassword">Reset Password</a>*@<!-- This works better within the local page-->
    <a href="ForgotPassword">Reset Password</a>

    