<h2 class="mt-3"><i class="fas fa-sign-in-alt"></i> Password Reset Completed</h2>
    You have succesfully changed your password !!!
<br>
<br>
<p>Click the link below to login</p>
@*<a href="http://localhost:51102/Account/Login">Reset Password</a>*@<!-- This works better within the local page-->
<a href="Login">Sign In</a>